<!-- import base.html -->
{% extends "base.html" %}


<!-- Nieuwe titel -->
{% block title %} RateBait - Rate Games {% endblock %}


<!-- Content block -->
{% block content %}


<!-- Flashcards -->
{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}


<!-- Inlogformulier -->
<form method="POST">
  {{ form.hidden_tag() }}

        <img
          class="mb-4"
          src="{{ url_for('static', filename='logo/favicon.png') }}"
          alt=""
          width="72"
          height="57"
        />

        <!-- Titel -->
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>


        <!-- Gebruikersnaam veld -->
        <div class="form-floating mb-2">
         {{form.username(class="form-control", id="floatingusername", placeholder="Gebruikersnaam")}}
         <label for="floatingusername">Gebruikersnaam</label>
        </div>


        <!-- Wachtwoord veld -->
        <div class="form-floating mb-3">
          {{form.password(class="form-control", id="floatingpassword", placeholder="Wachtwoord")}}
         <label for="floatingpassword">Wachtwoord</label>
        </div>


        <!-- BUTTON! -->
        <button class="btn btn-search w-100 py-2" type="submit">
          Sign in
        </button>
      </form>
      {% endblock %}