{% extends "base.html"%}

{% block title %} MovieMemoir - Home {% endblock %}

{% block content %}

<!-- Flash messages -->
{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<!-- Superhero landing!-->
<div class="py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4"
       src="{{ url_for('static', filename='logo/fysiofitbuddy_logo.png') }}"
       alt="Logo"
       width="250" height="250">

  <h1 class="display-5 fw-bold">FysioFit Buddy</h1>

  <p class="lead mb-4">
      FysioFit Buddy staat voor je klaar! Wat voor oefening doen wij vandaag?
  </p>

  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button class="btn btn-primary btn-lg px-4">Oefening starten</button>
      <button class="btn btn-outline-secondary btn-lg px-4">Oefening stoppen</button>
  </div>
</div>

<div class="container text-center">
  Je bent lekker bezig Freek!
</div>

{% endblock %}