{% extends "base.html" %}

{% block title %} MovieMomoir - login {% endblock %}

{% block content %}

<!-- Flash messages -->
{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

    <!-- Formulier voor gebruikersnaam-->

{% if login %}
<p> Jou inlognaam is {{ login }} 
{% else %}
    geef de naam van je login op in dit formulier:
</p>
{% endif %}

<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.login.label() }} {{ form.login() }}
    {{ form.submit() }}
</form>

{% endblock %}